.containerAvatar {
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
    position: relative;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}